$primary-color: rgb(19, 51, 82);
$dark-color: #444;
$light-color: rgb(214, 211, 211);
$danger-color: #863131;
$success-color: #1d5c2c;
$max-width: 1100px;

// set text color based on background
@function set-text-color($color) {
    @if (lightness($color) > 50) {
        @return #333;
    } @else {
        @return #fff;
    }
}

@mixin set-background($color) {
    background-color: $primary-color;
    color: set-text-color($color);
}