{% extends 'base.html' %}

{% block content %}
<h2>Homepage</h2>
<p>Welcome to my Site, {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}!</p>
{% comment %} <p>Total users registered: {{ count }}</p> {% endcomment %}
 {% if user.is_authenticated %}
    <div class="col-6">
            <h3 class="text-centre">News from Times of india</h3>
            {% for n in toi_news %}
            <h5> -  {{ n }} </h5>
            <hr>
            {% endfor %}
            <br>
    </div>
    {% else %}
    Log in to see the news!
    {% endif %}
{% endblock %}